/* Satrtr section One */
.headphone {
    position: absolute;
    text-transform: uppercase;
    font-size: 13.2vw;
    font-weight: bold;
    color: white; 

}
/* End of Section One */

/* Start Style Section Three */
.pannar{
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    height: fit-content;
    border-radius: 15px;
    position: relative;
}

.h-25{
height: 30% !important;
}
.img-headPhone{
    position: absolute;
    top: -200px;
}
@media  (min-width: 320px) and (max-width: 570px){
   
    .textOne, .textTwo {
        padding: 0 !important;
    }
    h1 br{
        display: none;
    }
    
}
@media  (min-width: 571px) and (max-width: 769px){
   
    .img-headPhone{
        display: none !important;
    }
    .textOne, .textTwo {
        padding: 0 !important;
    }
    h1 br{
        display: none;
    }
    
}
@media  (min-width: 770px) and (max-width: 1024px){
    h1 br{
        display: none;
    }
    .img-headPhone{
        top: -45%;
    }
}
.cards{
    width: 97%;
    margin: auto;
}
.box{
    width: 285px;
    height: 285px;
    transition: 0.3s;
}
.card-box:hover{
    transform: scale(1.1);
}
/* End Style Section Three */
/* Start Style Section Four */

.countdown{
    padding: 10px 16px;
    background-color: white;
    width: fit-content;
    text-align: center;
    color: #198754;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0;
}
.pannar-2{
    position: relative;
}
.w-card{
    width: 287px;
}
p{
    font-size: 15px !important;
}
/* End Style Section Four */
/* Style Footer */
.main-prands{
    background-color: #f7f7f7;
    height: 260px;
    
}
.prands{
    width: 97%;
   
}
.one h2{
    font-family: monospace;
    letter-spacing: 7px;
    padding: 5px 0;
}
.one p{
    font-size: 0.9rem !important;
}
.three p{
    font-size: 0.9rem !important;
}
a{
    text-decoration: none;
}
.input-footer{
background-image: linear-gradient(to left , rgb(206, 206, 206), rgb(235, 234, 234));
outline: none;
}
/* End style footer */
/* .card1{
background-image: url("/images/img1.png");
background-size: cover;
}
.card2{
    background-image: url("/images/img2.png");
    background-size: cover;
    }
    .card3{
        background-image: url("/images/img3.png");
        background-size: cover;
        background-position: right;

        }
        
            .card5{
                background-image: url("/images/img5.png");
                background-size: cover;
                }
                .card6{
                    background-image: url("/images/img6.png");
                    background-size: cover;
                    } */