/* Satrtr section One */
.headphone {
    position: absolute;
    text-transform: uppercase;
    font-size: 13.2vw;
    font-weight: bold;
    color: white; 

}
/* End of Section One */

/* Start Style Section Three */
.pannar{
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
    height: fit-content;
    border-radius: 15px;
    position: relative;
}

.h-25{
height: 30% !important;
}
.img-headPhone{
    position: absolute;
    top: -200px;
}
@media  (min-width: 320px) and (max-width: 570px){
   
    .textOne, .textTwo {
        padding: 0 !important;
    }
    h1 br{
        display: none;
    }
    
}
@media  (min-width: 571px) and (max-width: 769px){
   
    .img-headPhone{
        display: none !important;
    }
    .textOne, .textTwo {
        padding: 0 !important;
    }
    h1 br{
        display: none;
    }
    
}
@media  (min-width: 770px) and (max-width: 1024px){
    h1 br{
        display: none;
    }
    .img-headPhone{
        top: -45%;
    }
}
.cards{
    width: 97%;
    margin: auto;
}
.box{
    width: 285px;
    height: 285px;
    transition: 0.3s;
}
.card-box:hover{
    transform: scale(1.1);
}
/* End Style Section Three */
/* Start Style Section Four */

.countdown{
    padding: 10px 16px;
    background-color: white;
    width: fit-content;
    text-align: center;
    color: #198754;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0;
}
.pannar-2{
    position: relative;
}
.w-card{
    width: 287px;
}
p{
    font-size: 15px !important;
}
/* End Style Section Four */
/* Style Footer */
.main-prands{
    background-color: #f7f7f7;
    height: 260px;
    
}
.prands{
    width: 97%;
   
}
.one h2{
    font-family: monospace;
    letter-spacing: 7px;
    padding: 5px 0;
}
.one p{
    font-size: 0.9rem !important;
}
.three p{
    font-size: 0.9rem !important;
}
a{
    text-decoration: none;
}
.input-footer{
background-image: linear-gradient(to left , rgb(206, 206, 206), rgb(235, 234, 234));
outline: none;
}
/* End style footer */
   /* Style Button Creat Account */
    .animated-button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px 26px;
        border: 4px solid;
        border-color: transparent;
        font-size: 16px;
        background-color: ;
        border-radius: 100px;
        font-weight: 600;
        color: #1f387e;
        box-shadow: 0 0 0 2px #ffffff;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .animated-button svg {
        position: absolute;
        width: 24px;
        fill: #1f387e;
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .animated-button .arr-1 {
        right: 16px;
      }
      
      .animated-button .arr-2 {
        left: -25%;
      }
      
      .animated-button .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: #dc3545;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .animated-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .animated-button:hover {
        box-shadow: 0 0 0 12px transparent;
        color: white;
        border-radius: 12px;
      }
      
      .animated-button:hover .arr-1 {
        right: -25%;
      }
      
      .animated-button:hover .arr-2 {
        left: 16px;
      }
      
      .animated-button:hover .text {
        transform: translateX(12px);
      }
      
      .animated-button:hover svg {
        fill: white;
      }
      
      .animated-button:active {
        scale: 0.95;
        box-shadow: 0 0 0 4px greenyellow;
      }
      
      .animated-button:hover .circle {
        width: 220px;
        height: 220px;
        opacity: 1;
      }
@media (min-width: 320px) and (max-width: 990px) {
    .nav{
        align-items: flex-start !important;
    }
}
   /* Style Button Creat Account */
