.summer-sale-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22da40;
    width: 450px;
    height: 100px;
    
}
  
  .left-content, .middle-content, .right-content {
    width: 30%;
  }
  
  .middle-content {
    text-align: center;
  }
  
  .special-offer-image {
    width: 150px ;  
    height: 150px; 
    border-radius: 50%; 
  }
  
  .countdown span {
    margin: 0 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(238, 245, 238);
    color: rgb(24, 23, 23);
    border: 1px solid gray;
    cursor: pointer;
  }
  